# Django core
Django>=5.0,<5.1
django-environ
python-dotenv

# Database
psycopg2-binary
dj-database-url
django-redis

# Admin UI
django-jazzmin

# REST API & Authentication
djangorestframework
djangorestframework-simplejwt
djangorestframework-camel-case
dj-rest-auth[with_social]
django-allauth>=0.51.0
django-cors-headers
drf-spectacular

# Security
django-axes
django-ratelimit
csp  # django-csp o'rniga zamonaviy va ishlovchi alternativa

# Static & Media
whitenoise
django-storages[boto3]

# Background tasks
celery>=5.3
django-celery-beat
django-celery-results
redis>=4.0

# WebSocket
channels>=4.0
channels-redis
daphne

# File & Image handling
Pillow
django-imagekit
django-cleanup

# Development tools
django-debug-toolbar
django-extensions
django-silk
ipython

# Monitoring
sentry-sdk

# Utilities
django-filter
django-import-export
django-taggit
django-countries
# phonenumber-field


# Testing
pytest
pytest-django
pytest-cov
factory-boy
faker

# Linting & Formatting
black
isort
flake8
pre-commit